include pcmflux/Cargo.toml
include pcmflux/Cargo.lock
recursive-include pcmflux/src *
recursive-exclude pcmflux *.so *.pyc
prune pcmflux/target
include LICENSE
include pyproject.toml
include README.md
include setup.py
